header {
	border-bottom: 2px solid #555;
	margin-bottom: 10px;
}

header .header-buttons {
	margin-top: 20px
}

header .header-buttons a {
	font-size: 30px;
	margin-right: 20px;
}

.footer {
	border-top: 1px solid #CCC;
  width: 100%;
}
.footer a {
	margin: 5px 10px;
}

.presentation {
	margin-bottom: 10px;
}

.awsm {
	font-family: FontAwesome;
}

.processing-text {
  font-size: 2em;
}
.processing-text img {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.panel-heading {
	padding: 5px 10px;
	cursor: pointer;
}
.panel-title {
	padding: 5px 10px;
}
.panel-body {
	padding: 10px;
}

#filters, #filters option, #filters button {
	font-size: 0.9em;
}

#filters button {
	margin-top:25px;
}

a.toggle-column {
	cursor: pointer;
}
a.column-hidden {
	color: #333;
}

#table-plants thead th, #table-plants thead td {
	text-align: center;
}
#table-plants tbody tr td {
	box-shadow: 1px 1px 5px grey;
	font-size: 0.8em;
	cursor: pointer;
	text-align: center;
}
#table-plants tbody tr td[title="Identité"] {
	max-width: 200px;
}
#table-plants tbody tr td[title="Caractéristiques"] {
	max-width: 100px;
}
#table-plants tbody tr td[title="Calendrier"] {
	min-width: 400px;
}
#table-plants tbody tr td > div {
	height: 100%;
}
#table-plants .nom {
    font-size: 16px;
    font-family: Raleway;
 }
#table-plants .famille {
	font-size: 10px;
	font-style: italic;
	background: #EFEFEF;
	text-align: center;
}
#table-plants .lesmois {
	font-size: 1.5em;
	min-width: 400px;
}
#table-plants .lesmois div {
	position: relative;
	height: 50px;
}
#table-plants .lesmois div span{
	border-radius: 26px;
	opacity: 0.2;
	width: 100%;
	padding: 0 6px;
}
#table-plants .lesmois .hiver {
	background: #17b2d7 none repeat scroll 0 0;
	background: rgba(23,​ 178,​ 215, 0.5) none repeat scroll 0 0;
}
#table-plants .lesmois .ptps {
	background: #89c43b none repeat scroll 0 0;
	background: rgba(137,​ 196,​ 59, 0.5) none repeat scroll 0 0;
}
#table-plants .lesmois .ete {
	background: #fdfe66 none repeat scroll 0 0;
}
#table-plants .lesmois .automn {
	background: #980231 none repeat scroll 0 0;
	background: rgba(152,​ 2,​ 49, 0.5) none repeat scroll 0 0;
}
#table-plants .lesmois div img {
	position: absolute;
}
#table-plants .lesmois div img[alt="recolte"] {
	bottom: 0;
	left: 20px;
	width: 20px;
}
#table-plants .lesmois div img[alt="semisext"] {
	left: 20px;
	width: 20px;
}

#table-plants .neighbour-good {
	color: #00cc00;
}
#table-plants .neighbour-bad {
		color: #cc0000;
}

/* Edition */

#form-root h3 span:nth-child(1) {
	text-decoration: underline;
}
#form-root label {
	font-size: 0.8em;
}
#form-root input {
	font-size: 0.8em
}
#form-root button[type="submit"] {
	margin-bottom: 20px;
	width: 200px;
}

/* Moderation */

#diff-root > div > span:nth-child(1) {
	font-style: italic;
}
#diff-root > div > span:nth-child(2) {
	color: #cc0000;
}
#diff-root > div > span:nth-child(3) {
	color: #00cc00;
}

/* Gardening */

.error-message {
	font-size: 12px;
	color: #dd0000;
}

#gardening-root .panel p {
	font-size: 12px;
	margin-bottom: 20px;
}


/* Garden */
#garden-state .resume {
	font-size: 11px;
}
#garden-state .resume .change-notification {
	font-size: 10px;
	margin-top: 5px;
	color: #444;
}

#plant-card .panel-body {
	max-height: 400px;
	overflow: auto;
}
#plant-card .nom {
	font-weight: bold;
	font-size: 1.1em;
}
#image-selected img {
	border: 1px solid #222;
	margin-top: 3px;
	cursor: pointer;
}
#plant-selector .panel-body > div:first-child {
	font-size: 10px;
}
#canvas-garden {
	border: 1px solid #222;
}
#canvas-container #toolbar {
	margin-bottom: 5px;
}
#canvas-container #toolbar button {
	margin: 0 5px;
}
/* this class is generated by fabricJS plugin */
.canvas-container {
	margin-bottom: 20px;
}

.img-dragging {
	opacity: 0.5;
}

#monthSlider {
	margin-top: 5px;
}

#scoreResult .score-global span:first-child {
	font-size: 13px;
}
#scoreResult .score-global span:nth-child(2) {
	font-weight: bold;
}
#scoreResult h6 {
	text-decoration: underline;
}
#scoreResult .score-plus, #scoreResult .score-minus {
	overflow: auto;
	max-height: 150px;
}
#scoreResult a[data-toggle="popover"] {
	font-size: 11px;
}
.popover-content .score-line p:nth-child(1),
.popover-content .score-line p:nth-child(3) {
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}
.popover-content .score-line p:nth-child(2),
.popover-content .score-line p:nth-child(4) {
	font-size: 11px;
}

.good {
	color: #009900;
}
.bad {
	color: #cc0000;
}

.explanation-icons > li {
	margin: 5px 0;
}
